* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #000;
  line-height: 1.5;
  border-top: 15px solid rgba(14, 12, 12, 0.723);
  position: relative;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.pablo {
  font-size: 22px;
  padding: 5px;
  font-weight: bold;
  background-color: aliceblue;
  color: #000;
  cursor: pointer;

  position: absolute;
  right: 20px;
  bottom: 20px;
}

.pablo:hover {
  color: blue;
  background-color: azure;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
}

article {
  padding-top: 20px;
  flex: 1;
  margin-bottom: 0;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
}

aside {
  background-color: #f7f7f7;
  border-bottom: 4px solid black;
  border-top: 4px solid gray;
  /* width: 500px; */
  margin-top: 20px;
  flex: 0 0 300px;
  margin-bottom: 0;
}

nav a:link {
  margin-right: 20px;
  margin-left: 20px;
}

ul,
li {
  margin-left: 50px;
  margin-bottom: 20px;
}

li:first-child {
  margin-top: 10px;
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

p::first-line {
  font-weight: bold;
}

/* HEADER */
.main-header {
  background-color: #ddd;
  padding: 20px 30px;
  /* margin-bottom: 5px; */
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 19px;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  /* margin-bottom: 10px; */
}

.logo-motto {
  text-align: center;
  margin-top: 0;
}

.head-link:link,
.head-link:visited {
  color: blue;
  display: inline-block;
  text-decoration: none;
}

.head-link:hover,
.head-link:active {
  color: hsla(275, 79%, 80%, 0.937);
}

/* .head-link:link {
  margin-bottom: 20px;
  font-size: 15px;
} */

.motto {
  font-style: italic;
  font-weight: lighter;
  /* padding-top: 5px; */
  padding-bottom: 20px;
}

/* product list */

.product {
  text-transform: uppercase;
  font-size: 20px;
  background-color: #ddd;
  margin-bottom: 20px;
  width: 500px;
  text-align: center;
}

.here {
  /* text-align: justify; */
}

.product-list {
  list-style: none;
}

/* ORDER */
.order {
  text-align: center;
}

.order-list {
  font-size: 20px;
  list-style: none;
}

/* BENEFITS */
.benefits {
  text-align: center;
  text-transform: uppercase;
  color: #777;
}

.benefits-info {
  font-size: 20px;
  font-style: italic;
  color: black;
  font-weight: bold;
  text-align: justify;
}

.soon {
  font-size: 25px;
}

/* Main Page */
.main-page:link,
.main-page:visited {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.main-page:hover,
.main-page:active {
  color: #000;
  text-transform: uppercase;
  background-color: #777;
}

.add-cart {
  text-transform: uppercase;
  text-shadow: #777;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border-top: 5px solid #000;
  background-color: #000;
  color: #f7f7f7;
}

.add-cart:hover {
  background-color: #f7f7f7;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.rlink {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  background-color: #ddd;
  border-top: 4px solid #777;
  /* margin-top: 20px; */
  /* width: 500px; */

  position: relative;
}

.rlink::after {
  content: "TOP";
  background-color: hsla(275, 79%, 80%, 0.937);
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -5px;
  right: -52px;
}

.related {
  list-style: none;
  font-size: 15px;
  padding: 0 10px;
  margin-left: -16%;
}

#copyright {
  font-size: 16px;
}

.related-link {
  align-items: center;
  gap: 10px;
  display: flex;
}

.row {
  display: flex;
  margin-bottom: 60px;
  gap: 40px;
  align-items: flex-start;
}
